{% extends 'main_homepage_app/base.html' %}

{% block content %}
<h1>Welcome to the Claims Page!</h1>
<p><i>For customers</i></p>
<p>Need to make a claim?</p>
{% if user.is_authenticated %}
    <p>Go to your previous sales to begin the claim process</p>
    <a href="{% url 'sales_app:see_sales' %}">Sales History</a>
    <p><i>For C3 Staff</i></pi>
    <p>Find your claims here:</p>
    <a href="{% url 'claims_app:get_claims'%}">Check on a Previous Claim</a>
    <p><i>For dealerships</i></pi>
    <p><a href="{% url 'claims_app:get_claim_repairs'%}">Claims Approved for Repair</a></p>
{% else %}
    <a class="nav-link" href="{% url 'users:login' %}">Please log in to make a claim</a>
{% endif %}
{% endblock content %}