<!-- sales_app/templates/sales_app/index.html -->
{% extends 'main_homepage_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to C3 Sales</title>
</head>
<body>
    <header>
        <h1>Welcome to C3 Sales</h1>
    </header>
    <main>
        <p>This is the Sales page of our website.</p>

        <!-- Add a link to the form page for adding sale data -->
        <a href="{% url 'sales_app:add_sale' %}">Want to make a purchase? Click here!</a>
        <p></p>
        <a href="{% url 'sales_app:see_sales' %}">See previous purchases</a>
        <p></p>
        <a href="{% url 'sales_app:see_products' %}">Here are our avalible products</a>
        <p><i>For employees</i></p>
        <a href="{% url 'sales_app:add_product' %}">Add new products</a>
        <p><i>For dealerships</i></p>
        <a href="{% url 'sales_app:see_dealer_jobs' %}">Dealerships - Product Application Jobs</a>
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
{% endblock content %}