<p> 
    <a href="{% url 'main_homepage_app:index'%}">
        Home</a> -
    <a href="{% url 'sales_app:sales_homepage'%}">
        Sales</a> -
    <a href="{% url 'claims_app:index'%}">
        Claims</a> -
    <a href="{% url 'reports_app:reports_home'%}">
        View Reports</a>
    {% if user.is_authenticated %}
        <p class="nav-link">Hello, {{ user.username }}.
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </p>
    {% else %}
        <p>
            <a class= "nav-link" href="{% url 'users:register' %}">Register</a> -
            <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
        </p>
    {% endif %}
</p>


{% block content %} to be overridden
{% endblock content %}